body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url("../Images/R2.jpg");
    background-size: cover;
    background-repeat: repeat;
}
 /* Box stuff */
.box {
  width: 200px;
  padding: 20px;
  text-align: center;
  background-color: #975c03;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.bg-primary {
    background-color: #412112 !important;
    
}
/* Character boxes within the index file */
.col-lg-4:first-child {
  margin-right: 10;
}

.col-lg-4:last-child {
  margin-left: 10;
}

.image-size {
  width: 360px;
  height: 189px; 
}

.image-size2 {
  width: 180px;
  height: 180px
}

.textColor-white {
  color: rgb(255, 255, 255);

}
.sub-pages {
    background-color: #814224;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.card-footer {
    background: transparent;
    border-top: 0px;
  }
  
/* Caruosel*/
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 40rem;
    max-width: 100vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
 
  .welcome-carousel-image1{
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
    background-image:url('../Images/Display/DisplayBild.jpg');
  }

  .welcome-carousel-image2{
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
    background-image:url('../images/Display/Display2.jpg');
  }

  .welcome-carousel-image3{
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
    background-image:url('../Images/Display/Display3.jpg');
  }

/* Jumbotron */

.jumbotron-CoffeeProducts {
    background: url('../Images/DisplayBild.jpg') no-repeat fixed;
  }
  
  .jumbotron-all-products {
    background: url('../images/wallpaper2.jpg') no-repeat fixed;
  }
  
  .jumbotron-machineC {
    background: url('../images/CooksProfessional.jpg') no-repeat fixed;
  }
  
  .jumbotron-machineDLH{
    background: url('../images/DeLonghi.jpg') no-repeat fixed;
  }
  
  .jumbotron-party {
    background: url('../images/CoffeePartyProduct.jpg') no-repeat fixed;
  }
  
  .jumbotron-darkCoffee {
    background: url('../images/DarkCoffee.jpg') no-repeat fixed;
  }
  
  .jumbotron {
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.1);
    height: 40vh;
    background-size: cover;
  }

  /* Footer */

  footer {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    padding: 10px;
    text-align: center;
}
